// To set how many pixels has 1rem.
//
// Rem is used in Bootstrap for interface scaling.
// We use that to scale interface depending on pointing device.
//
// Example: table row height is 3rem, which is 48px for touch and 39px for non-touch.
//
@media (pointer: fine) {
  html {
    font-size: 13px;
  }
}

// FontAwesome
$fa-font-path: "fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

// Bootstrap
$blue: #0000cd;
$body-color: $blue;
$border-color: $blue;
$link-decoration: none;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
);
@import "../../node_modules/bootstrap/scss/bootstrap";
