// FontAwesome
$fa-font-path: "fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

// Bootstrap
$blue: #0000cd;
$body-color: $blue;
$border-color: $blue;
$link-decoration: none;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px
);
@import "../../node_modules/bootstrap/scss/bootstrap";
